RewriteEngine On


RewriteRule ^userProfile$ user/profile.php [NC]
RewriteRule ^userProfilecss$ user/profile.css [NC]
RewriteRule ^userProfilejs$ user/profile.js [NC]

RewriteRule ^editProfile$ user/editprofile/editprofile.php [NC]
RewriteRule ^editProfilecss$ user/editprofile/edit.css [NC]
RewriteRule ^editProfilejs$ user/editprofile/edit.js [NC]
RewriteRule ^editProfilesave$ user/editprofile/save.php [NC]

RewriteRule ^portfolio$ user/portfolio.php [NC]
RewriteRule ^portfoliocss$ user/portfolio.css [NC]
RewriteRule ^portfoliojs$ user/portfolio.js [NC]
RewriteRule ^build$ user/build/build.php [NC]
RewriteRule ^save$ user/build/save.php [NC]
RewriteRule ^buildcss$ user/build/build.css [NC]
RewriteRule ^search$ user/search/search.php [NC]
RewriteRule ^showsearch$ user/search/show.php [NC]

RewriteRule ^adminProfile$ admin/profile.php [NC] 
