RewriteEngine On

RewriteRule ^editProfile$ user/editprofile/editprofile.php [NC]
RewriteRule ^editProfilecss$ user/editprofile/edit.css [NC]
RewriteRule ^editProfilejs$ user/editprofile/edit.js [NC]
RewriteRule ^editProfilesave$ user/editprofile/save.php [NC]
RewriteRule ^PasswordChange$ user/editprofile/changepassword.php [NC]


RewriteRule ^portfolio$ user/portfolio.php [NC]
RewriteRule ^portfoliocss$ user/portfolio.css [NC]
RewriteRule ^portfoliojs$ user/portfolio.js [NC]
RewriteRule ^build$ user/build/build.php [NC]
RewriteRule ^save$ user/build/save.php [NC]
RewriteRule ^buildcss$ user/build/build.css [NC]
RewriteRule ^search$ user/search/search.php [NC]
RewriteRule ^showsearch$ user/search/show.php [NC]





RewriteRule ^adminDash$ admin/dashboard/dashboard.php [NC] 
RewriteRule ^dashjs$ admin/dashboard/dashboard.js [NC] 
RewriteRule ^dashcss$ admin/dashboard/dashboard.css [NC] 

RewriteRule ^adminshowsearch$ admin/searched/showsearch.php [NC] 

RewriteRule ^userdelete$ admin/delete/delete.php [NC] 

RewriteRule ^changepass$ admin/changePassword/changepassword.php [NC] 
RewriteRule ^sendPass$ admin/changePassword/save.php [NC] 
